<header>
  <div>
    <button 
      class="btn btn-primary btn-content"
      type="button"
      name="buttonOfCanvas"
      aria-label="buttonOfCanvas"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
    >
    {{>menuIcon}}
    </button>

  </div>
  <div>
    <img src="/svg/avatar.svg" alt="Avatar" title="Avatar" />

  </div>
</header>