<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Asignación</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="Salones de clases">
    <meta property="og:url" content="https://grupos-de-escuela.vercel.app">
    <meta property="og:image" content="/svg/check.png">
    <meta property="og:description" content="Asignación y evaluación de grupos de alumnos">
    <meta name="description" content="Asignación y evaluación de grupos de alumnos">
  <link href="/css/dark.css" rel="stylesheet">
  <link href="/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="/svg/check.png" type="image/x-icon">
  <style>
    @view-transition {
    navigation: auto;
    }
    ::view-transition-group(*) {
        animation-duration: 0.5s;
    }

  </style>
</head>

<body>
  {{#if seccionar}}
  {{else}}
  {{>header}}
  {{/if }}
  {{{body}}}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>            
  <script src="/js/sweetalert2.min.js"></script>

        
</script>
</body>


</html>