<br><br>
<div class="space_top">

  <div class="card">
    <div class="header">
      <span class="icon">
      {{>noticeIcon}}
      </span>
      <p class="alert">Nuevo mensaje!</p>
    </div>

    <p class="message">
      Bienvenido {{infoTeacher.name}}
    </p>

  </div>

</div>

{{>sidebar}}

<script src="/js/setGroup.js"></script>
